body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff; /* Eller hvilken farve du foretrækker */
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 350px;
}
.logo-image {
  max-width: 40px; /* Juster bredden efter behov */
  margin-left: 10px;
  /* Tilføj margen efter behov */
}

/* Stil for logoens tekst (NutriTracker) */
.logo-text {
  font-size: 24px; /* Juster skriftstørrelsen efter behov */
  font-weight: bold; /* Tilføj fed skrift efter behov */
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px;
  background: #def6d8;
  color: #91c789;
  padding-left: 150px;
}

.header h1 {
  margin-right: 100px; /* Juster som nødvendigt for at placere dine links tættere på h1 */
}

.navigation-list {
  list-style: none;
  padding: 20px;
  align-items: center;
  display: flex;
}

.navigation-link {
  text-decoration: none;
  color: #757575;
  font-weight: bold;
  cursor: pointer;
  margin-right: 60px;
}

.main-content {
  display: block;
  justify-content: center; /* Dette vil centrere boksene i 'main-content' */
  flex-direction: row;
}

.stats-box {
  border: 1px solid #5a9718;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem; /* Giver plads mellem bokse */
  flex: 1; /* Gør at bokse kan vokse for at fylde tilgængelig plads */
  min-width: 200px; /* Minimumsbredde for hver boks */
  text-align: center;
  background: rgb(255, 255, 255);
}

.disabled {
  display: none !important;
}

.dashboard {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.dashboard-card-container {
  height: calc(100vh - 230px);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-header {
  background-color: #bbdefb;
  border-radius: 5px;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  width: 140px;
  position: relative;
  top: -20px;
  align-self: center;
}
.card-header h2 {
  margin: 0;
  color: #0d47a1;
  font-size: 18px;
}
.card-content {
  margin: 20px 0;
}
.card-content h3 {
  color: #26a69a;
  font-size: 38px;
  margin: 0;
  padding: 0;
}
.card-content p {
  color: #333;
  font-size: 16px;
  margin: 0;
}

.productDetailsPage {
  max-width: 900px;
  margin: 50px auto;
  border: none !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemBlock {
  background-color: #e8f5e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.itemRow {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.itemCell {
  padding: 5px;
  display: flex;
  align-items: center;
}
.itemFieldName {
  font-weight: bold;
  flex: 1;
}
.itemFieldValue {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 3;
}
.itemBlockTitle {
  font-weight: bold;
  font-size: 28px;
}




.meal-tracker-card-container {
  max-width: 900px;
  margin: 50px auto;
  border: none !important;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.meal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 24px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}
.meal {
  background-color: #e8f5e9;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meal-info {
  display: flex;
  align-items: center;
}
.meal-info > div {
  margin-right: 20px;
}
.meal-name {
  font-size: 16px;
  color: #333;
}
.source,
.meal-type,
.weight-energy,
.date,
.percent {
  font-size: 14px;
  color: #666;
}
.actions {
  display: flex;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #666;
  cursor: pointer;
}


.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addMealButton {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}